.navbar {
  background: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-2);
}

.navbarMain {
  flex: 1;
  padding: var(--mantine-spacing-md);

  background: var(--mantine-color-estimou-8);
}

.header {
  padding-bottom: var(--mantine-spacing-xl);
  padding-left: var(--mantine-spacing-md);
}

.footer {
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: white;
  padding: 8px;
  border-radius: var(--mantine-radius-sm);
  margin-bottom: calc(var(--mantine-spacing-xs) - 8px);
  font-weight: 600;

  @mixin hover {
    background-color: var(--mantine-color-estimou-light);
    color: var(--mantine-color-estimou-2);
  }
}

.active {
  &,
  &:hover {
    background-color: var(--mantine-color-estimou-light);
    color: var(--mantine-color-estimou-2);

    .linkIcon {
      color: var(--mantine-color-estimou-light-color);
    }
  }
}

.linkIcon {
  color: var(--mantine-color-estimou-2);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}
